/* Resetting default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body and font settings */
body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  background-color: #f5f5f5;
}

/* Header and navigation */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px;
  background-color: #333;
  color: white;
  width: 100%;
  heigth: 20px;
  position: fixed;
}
nav ul{ 
	display:flex;
	justify-content: flex-end;
	align-items: center;
}

nav li{
	margin-right: 5px;	
}


header .logo h1 {
  font-size: 2rem;
}

header nav ul {
  display: flex;
  list-style: none;
}

header nav ul li {
  margin-left: 2rem;
}

header nav ul li:nth-child(2) {
  margin-left: 900px;
}

header nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
  transition: color 0.3s;
}

header nav ul li a:hover {
  color: #f79c42;
}

/* Hero Section */
.hero {
  height: 50vh;
  background-color: #2d3a3a;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h2 {
  font-size: 3rem;
}

.hero p {
  font-size: 1.3rem;
  margin-top: 10px;
}

/* Section styling */
.section {
  padding: 3rem 0;
}

.container {
  width: 80%;
  margin: 10px;
  text-align: center;
  
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1.1rem;
  color: #555;
}

.services-list {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}

.service {
  background-color: white;
  padding: 2rem;
  width: 30%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.service h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.team-members {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}

.team-member {
  text-align: center;
}

.team-member img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 1rem;
}

.team-member h4 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.team-member p {
  color: #777;
}

/* Contact form */
form input, form textarea {
  width: 100%;
  padding: 1rem;
  margin: 0.5rem 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

form button {
  padding: 1rem 2rem;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
  cursor: pointer;
}

form button:hover {
  background-color: #f79c42;
}

/* Footer */
footer {
  background-color: #333;
  color: white;
  padding: 1rem;
  text-align: center;
  min-height:150vh;
  display: flex;
  flex-direction: column;
  
}
